.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tarjeta {
    background-color: springgreen;
    border: 2px solid #222;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarjeta p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
}